[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
black = "*"

[packages]
django = "~=2.2"
django-cors-headers = "*"
gunicorn = "*"
dj-database-url = "*"
whitenoise = "*"
graphene-django = "*"
django-graphql-jwt = "*"
django-graphql-playground = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
